@model IEnumerable<WebApp.Movimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movimiento</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table" id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bodega.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bodega.Nombre)
                </td>
                <td>
                    <a class="btn btn-success" title="Ver Movimiento" href="~/MovimientoDetalle/VerDetallesMovimientos/@item.CodMovimiento"><span class="fa fa-shopping-basket"></span></a>
                    <a class="btn btn-info" title="Editar Movimiento" href="~/Movimiento/Edit/@item.CodMovimiento"><span class="fa fa-edit"></span></a>
                    <a class="btn btn-danger" title="Eliminar Movimiento" href="~/Movimiento/Delete/@item.CodMovimiento"><span class="fa fa-book"></span></a>
                </td>
            </tr>
        }
    </tbody>

</table>
